.card {
  border-radius: 10px;
}

.bg-primary {
  font-size: 24px;
  font-weight: bold;
}

.list-group-item {
  border: none;
  padding: 0.5rem 0;
}

.card-footer {
  background-color: #f8f9fa;
}
th span {
  cursor: pointer;
}

tr th,
td {
  align-content: center;
  text-align: center;
}

.cursorPointer {
  cursor: pointer !important;
}

.uploadDiv {
  position: relative;
  overflow: hidden;
}
.uploadinput {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.ellipsis-cell {
  width: 5%;
  min-width: 5%;
  max-width: 330px;
  overflow: hidden; /* Hides content that overflows */
  text-overflow: ellipsis; /* Adds ellipsis for overflow */
  white-space: nowrap; /* Prevents wrapping to the next line */
  /* display: inline-block; Keeps the element inline */
}
/* Global style */
::ng-deep .custom-tooltip {
  background-color: #ff5733 !important; /* Custom background */
  color: white !important; /* Custom text color */
  font-size: 16px !important; /* Optional: Font size */
}

.modal-header {
  background-color: rgb(217, 246, 246);
}
