<!-- <div class="candidate-list">
    <h2>Candidate Details</h2>
    <ul>
      <li *ngFor="let field of fields">
        <strong>{{ field.label }}:</strong> {{ candidate[field.key] }}
      </li>
    </ul>
  </div>
   -->
   <div class="candidate-list">
    <table id = "candidateDetailsTable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Contact No</th>
          <th>LinkedIn</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Experience</th>
          <th>Skills</th>
          <th>CTC</th>
          <th>ETC</th>
          <th>Notice Period</th>
          <th>Current Location</th>
          <th>Preferred Location</th>
          <th>Reason for Job Change</th>
          <th>Interview Date</th>
          <th>Interview Status</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidates">
          <td>{{ candidate.date | date }}</td>
          <td>{{ candidate.name }}</td>
          <td>{{ candidate.contact_No }}</td>
          <td><a [href]="candidate.linkedin_Profile" target="_blank">Profile</a></td>
          <td>{{ candidate.emailId }}</td>
          <td>{{ candidate.roles }}</td>
          <td>{{ candidate.experience }}</td>
          <td>{{ candidate.skills }}</td>
          <td>{{ candidate.ctc }}</td>
          <td>{{ candidate.etc }}</td>
          <td>{{ candidate.notice_Period }}</td>
          <td>{{ candidate.current_Location }}</td>
          <td>{{ candidate.prefer_Location }}</td>
          <td>{{ candidate.reason_For_Job_Change }}</td>
          <td>{{ candidate.schedule_Interview | date }}</td>
          <td>{{ candidate.schedule_Interview_status }}</td>
          <td>{{ candidate.comments }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  